<header>
	<h2>
		The Textual Elements<br>
		<small>What a fancy pair o' graphs, son!</small>
	</h2>
</header>
<p>
	Let's see what some of these real HTML tags can do. We'll start simple with some that you can use
	to format text.
</p>
<h4>p is for paragraph</h4>
<p>
	Remember how all of the text in our blog was running together? This is one way we can fix that.
</p>
<div class="example">
	<pre class="prettyprint lang-html">include("04/p.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/p.html" class="medium"></iframe>
</div>
<h4>br is for line break</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/br.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/br.html" class="medium"></iframe>
</div>
<h4>strong is for bold</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/strong.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/strong.html"></iframe>
</div>
<h4>em is for italics</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/em.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/em.html"></iframe>
</div>
<h4>h1 (and friends) are for headers</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/h1.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/h1.html" class="large"></iframe>
</div>
<hr />
<h3>Bringing it all together</h3>
<p>Now let's try to use all these fun tags to format a short story.</p>
<div class="example">
  <pre class="prettyprint lang-html">include("04/story.html", {"<": "&lt;", ">": "&gt;"})</pre>
  <iframe src="examples/04/story.html" class="large"></iframe>
</div>