<header>
	<h2>
		The Elements<br>
		<small>It's <em>element</em>ary, my dear Watson!</small>
	</h2>
</header>
<p>
	Let's see what some of these real HTML tags can do. We'll start simple with some that you can use
	to format text.
</p>
<h4>p is for paragraph</h4>
<p>
	Remember how all of the text in our blog was running together, ignoring the line breaks we wrote?
	This is one way we can fix that.
</p>
<div class="example">
	<pre class="prettyprint lang-html">include("04/p.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/p.html" class="medium"></iframe>
</div>
<h4>br is for line break</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/br.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/br.html" class="medium"></iframe>
</div>
<h4>strong is for bold</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/strong.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/strong.html"></iframe>
</div>
<h4>em is for italics</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/em.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/em.html"></iframe>
</div>
<h4>h1 (and friends) are for headers</h4>
<div class="example">
	<pre class="prettyprint lang-html">include("04/h1.html", {"<": "&lt;", ">": "&gt;"})</pre>
	<iframe src="examples/04/h1.html" class="large"></iframe>
</div>

<h4>header</h4>
<h4>img</h4>
<h4>nav</h4>
<h4>a</h4>
<h4>article</h4>
<h4>footer</h4>
<h4>doctype</h4>
<h4>html</h4>
<h4>head</h4>
<h4>title</h4>
<h4>body</h4>
<script>prettyPrint();</script>