<header>
	<h2>
		The Stuff<br>
		<small>Getting Started</small>
	</h2>
</header>

<p>
	Alright. So what kind of website should we make? How about a blog. Everybody needs one of those. Here,
	let me just <strike>sit down</strike> continue sitting and sketch out what our new blog should look like.
</p>
<p>
	[SKETCH GOES HERE]
</p>
<p>
	Great! Now on to turning this into a website. No problem. First things first, fire up your favorite text
	editor. (Notepad works fine to start with if you're on	Windows. For Mac, TextEdit works if you set it to
	use Plain Text mode in the preferences. And color me surprised if you're on Linux and don't already have
	a favorite text editor!) Now let's type out all the words from our design:
</p>

<pre class="prettyprint lang-html">My Super Blog
I write about super things.

Home
About Me
Contact Me

Super Bowling Analysis

Pros: Bowling is super and super is awesome, so super bowling is super awesome.

Cons: There are no cons.

Verdict: I'm for it.

Copyright Clark K.</pre>

<p>
	Save that masterpiece with the filename of <code>MySuperBlog.html</code> (note the <code>.html</code>
	extension in the name&mdash;that's very important!).
</p>
<p>
	Now open up your new <code>MySuperBlog.html</code> file in your browser. Double-clicking on the file in
	Explorer or Finder should work in most cases. You can also drag the file from Finder/Explorer
	into your browser window to open it. Or if all else fails you can type the file's location into your
	browser's address bar. For example, if you saved your file at <code>C:\MySuperBlog.html</code>, you could type
	<code>C:\MySuperBlog.html</code> into your browser then hit Enter or Return on your keyboard and you should
	see your page.
</p>
<p>
	Once you've done that, you should be looking at a page in your browser that looks something like this:
</p>
<blockquote>My Super Blog
	I write about super things.
	
	Home
	About Me
	Contact Me
	
	Super Bowling Analysis
	
	Pros: Bowling is super and super is awesome, so super bowling is super awesome.
	
	Cons: There are no cons.
	
	Verdict: I'm for it.
	
	Copyright Clark K
</blockquote>
<p>
	How exciting! You're looking at your first bit of coding. That wasn't so tough, was it? Although it doesn't
	quite look like our sketch yet. And what's up with all the lines running together?
</p>
<h4>
	So what's next?
</h4>
<p>
	To make our blog look more like what we planned out in our sketch, we'll need to start learning HTML. And to
	begin with, we'll need to talk about <em>tags</em>.
</p>

<!--<pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html lang="en"&gt;

	&lt;head&gt;
		&lt;title&gt;My Super Blog&lt;/title&gt;
	&lt;/head&gt;

	&lt;body&gt;

		&lt;header&gt;
			&lt;h1&gt;My Super Blog&lt;/h1&gt;
			&lt;h2&gt;I write about super things.&lt;/h2&gt;
		&lt;/header&gt;

		&lt;nav&gt;
			&lt;a href="home.html"&gt;Home&lt;/a&gt;
			&lt;a href="about.html"&gt;About Me&lt;/a&gt;
			&lt;a href="contact.html"&gt;Contact Me&lt;/a&gt;
		&lt;/nav&gt;

		&lt;article&gt;
			&lt;header&gt;
				&lt;h1&gt;Super Bowling Analysis&lt;/h1&gt;
			&lt;/header&gt;
			&lt;p&gt;
				Pros: Bowling is super and super is awesome,
				so super bowling is super awesome.
			&lt;/p&gt;
			&lt;p&gt;
				Cons: There are no cons.
			&lt;/p&gt;
			&lt;p&gt;
				Verdict: I'm for it.
			&lt;/p&gt;
		&lt;/article&gt;

		&lt;footer&gt;
			&copy; Clark Kent
		&lt;/footer&gt;
		
	&lt;/body&gt;

&lt;/html&gt;</pre>-->