<header>
	<h2>
		Attributes<br>
		<small>Made to order.</small>
	</h2>
</header>

<p>
	Sometimes when you order a sandwich or burrito, you want to customize your order. To customize
	your sandwich tags and burrito tags, you use <em>attributes</em>, which look something like
	this:
</p>
<pre class="prettyprint lang-html">&lt;bun toasted="true"&gt;bacon, lettuce, tomato&lt;/bun&gt;
&lt;burrito salsa="mild" sourcream="none" /&gt;</pre>
<script>prettyPrint();</script>