<article>
	{{view Ember.ContainerView currentViewBinding="chapterView"}}
</article>
<ul class="pager">
	{{#if hasPrevious}}
		<li class="previous">{{#link-to 'chapter' previousChapter}}&larr; Previous{{/link-to}}</li>
	{{/if}}
	{{#if hasNext}}
		<li class="next">{{#link-to 'chapter' nextChapter}}Next &rarr;{{/link-to}}</li>
	{{/if}}
</ul>