<header>
	<h2>
		Necessary Elements<br>
		<small>What's up doctype?</small>
	</h2>
</header>

<h4>header</h4>
<h4>img</h4>
<h4>nav</h4>
<h4>a</h4>
<h4>article</h4>
<h4>footer</h4>
<h4>doctype</h4>
<h4>html</h4>
<h4>head</h4>
<h4>title</h4>
<h4>body</h4>