<header>
	<h2>The Stuff</h2>
</header>
<h3>
	Getting Started
</h3>
<p>
	Alright. So what kind of website should we make? How about a blog. Everybody needs one of those. Here,
	let me just <strike>sit down</strike> continue sitting and sketch out what our new blog should look like.
</p>
<p>
	[SKETCH GOES HERE]
</p>
<p>
	Great! Now on to turning this into a website. No problem. First things first, let's just type in all
	the words from our sweet new design into your favorite text editor (<a href="#">say wuh?</a>).
</p>
<div data-height="268" data-theme-id="0" data-slug-hash="ervqG" data-user="charliecochran" data-default-tab="html" class='codepen'><pre><code>My Super Blog
I write about super things.

Home
About Me
Contact Me

Super Bowling Analysis

Pros: Bowling is super and super is awesome, so super bowling is super awesome.

Cons: There are no cons.

Verdict: I&#x27;m for it.

Copyright Clark K.</code></pre>
<p>See the Pen <a href='http://codepen.io/charliecochran/pen/ervqG'>%= penName %></a> by Charlie Cochran (<a href='http://codepen.io/charliecochran'>@charliecochran</a>) on <a href='http://codepen.io'>CodePen</a></p>
</div><script async src="http://codepen.io/assets/embed/ei.js"></script>

<p>
	That's a start. Though it doesn't look like my sketch at all. You'll also notice it looks considerably
	worse if you click on the <code>Result</code> tab with the text all running together.
</p>
<h3>
	What's next?
</h3>
<p>
	We need to start learning HTML. And to begin with, we'll need to talk about <em>tags</em>.
</p>
<!--
<pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html lang="en"&gt;

	&lt;head&gt;
		&lt;title&gt;My Super Blog&lt;/title&gt;
	&lt;/head&gt;

	&lt;body&gt;

		&lt;header&gt;
			&lt;h1&gt;My Super Blog&lt;/h1&gt;
			&lt;h2&gt;I write about super things.&lt;/h2&gt;
		&lt;/header&gt;

		&lt;nav&gt;
			&lt;a href="home.html"&gt;Home&lt;/a&gt;
			&lt;a href="about.html"&gt;About Me&lt;/a&gt;
			&lt;a href="contact.html"&gt;Contact Me&lt;/a&gt;
		&lt;/nav&gt;

		&lt;article&gt;
			&lt;header&gt;
				&lt;h1&gt;Super Bowling Analysis&lt;/h1&gt;
			&lt;/header&gt;
			&lt;p&gt;
				Pros: Bowling is super and super is awesome,
				so super bowling is super awesome.
			&lt;/p&gt;
			&lt;p&gt;
				Cons: There are no cons.
			&lt;/p&gt;
			&lt;p&gt;
				Verdict: I'm for it.
			&lt;/p&gt;
		&lt;/article&gt;

		&lt;footer&gt;
			&copy; Clark Kent
		&lt;/footer&gt;
		
	&lt;/body&gt;

&lt;/html&gt;</pre>-->